<%# This will cache portion of the view  %>
<% cache [@user] do %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>Github Login:</strong>
  <%= @user.github_login %>
</p>

<p>
  <strong>Articles Count:</strong>
  <%= @user.articles_count %>
</p>

<p>
  <strong>Redis Objects Articles Count:</strong>
  <%= @user.redobj_articles_count %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user.lng %>
</p>

<% end %>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-info' %> |
<%= link_to 'Back', users_path, class: 'btn btn-info' %> |
<%= link_to 'JSON', user_path(@user) + '.json', class: 'btn btn-info' %> |

<%= render 'cache' %>
<%= render 'articles' %>
