<%# This will cache portion of the view  %>
<% cache [@user] do %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>Github Login:</strong>
  <%= @user.github_login %>
</p>

<% end %>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-info' %> |
<%= link_to 'Back', users_path, class: 'btn btn-info' %> | 
<%= link_to 'JSON', user_path(@user) + '.json', class: 'btn btn-info' %>

<hr>

<h3> Cached method calls </h3>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Name decorated:</strong>
  <%= @user.name_decorated %>
</p>

<hr>

<h3> Data cached from external APIs</h3>

<p>
  <strong>Github Avatar:</strong>
  <%= image_tag @github_data['avatar_url'], size: "100", alt: @user.name %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @weather_data['weather'].first['description'] if @weather_data['weather'] %>
  <%= 'need to get openweathermap.org API key' unless @weather_data['weather'] %>
</p>
